<!-- start banner-->
<div class="banner">
	<!-- start column-left -->
	<div class="column-left width">
        <h2>Lista de Presentes</h2>
        <p>Vestibulum odio nibh, elementum vitae congue a, auctor eu lacus. Nam ligula ligula, mattis commodo vestibulum in, dapibus eu ligula. Integer tempor, magna quis hendrerit tristique, massa urna dapibus velit, eu tincidunt mi urna et risus.  Nam ligula ligula, mattis commodo vestibulum in, dapibus eu ligula. Integer tempor, magna quis hendrerit tristique, massa urna dapibus velit, eu tincidunt mi urna et risus. </p>
		<a href="<?php echo $this->Html->url(array('plugin' => 'lista_de_presente', 'controller' => 'listas','action' => 'criar')) ?>" title="Crie a sua lista" class="create_list">Crie a sua lista</a>
    </div>
    <!-- end column-left -->
</div>
<!-- end banner -->
<div class="clear"></div>
