/**
 *
 * Generic CSS for CakePHP
 *
 * CakePHP(tm) : Rapid Development Framework (http://cakephp.org)
 * Copyright 2005-2010, Cake Software Foundation, Inc. (http://cakefoundation.org)
 *
 * Licensed under The MIT License
 * Redistributions of files must retain the above copyright notice.
 *
 * @copyright     Copyright 2005-2010, Cake Software Foundation, Inc. (http://cakefoundation.org)
 * @link          http://cakephp.org CakePHP(tm) Project
 * @package       cake
 * @subpackage    cake.app.webroot.css
 * @since         CakePHP(tm)
 * @license       MIT License (http://www.opensource.org/licenses/mit-license.php)
*/

* {
    margin:0;
    padding:0;
}

/** General Style Info **/
body {
    color: #fff;
    font-family:'lucida grande',verdana,helvetica,arial,sans-serif;
    font-size:11px;
    margin: 0;
    height:100%;
    background: url("../../img/admin/bg_geral.gif");
}

/** status **/
.classAguardando {
    border-color: -moz-use-text-color #CCCCCC #999999;
    -moz-border-radius: 6px 6px 6px 6px;
    border-style: none solid solid;
    border-width: medium 1px 1px;
    background-color: #00FF33;
    color: #333333;
    padding: 5px;
}
.classAprovado {
    border-color: -moz-use-text-color #CCCCCC #999999;
    -moz-border-radius: 6px 6px 6px 6px;
    border-style: none solid solid;
    border-width: medium 1px 1px;
    background-color: #05C800;
    color: #ffffff;
    padding: 5px;
}
.classCancelado {

    border-color: -moz-use-text-color #CCCCCC #999999;
    -moz-border-radius: 6px 6px 6px 6px;
    border-style: none solid solid;
    border-width: medium 1px 1px;
    background-color: #990000;
    color: #ffffff;
    padding: 5px;
}
.classNegado {
    border-color: -moz-use-text-color #CCCCCC #999999;
    -moz-border-radius: 6px 6px 6px 6px;
    border-style: none solid solid;
    border-width: medium 1px 1px;
    background-color: #990000;
    color: #ffffff;
    padding: 5px;
}
.classCanceladoUsuario {
    border-color: -moz-use-text-color #CCCCCC #999999;
    -moz-border-radius: 6px 6px 6px 6px;
    border-style: none solid solid;
    border-width: medium 1px 1px;
    background-color: #990000;
    color: #ffffff;
    padding: 5px;
}
.classEntregue {
    border-color: -moz-use-text-color #CCCCCC #999999;
    -moz-border-radius: 6px 6px 6px 6px;
    border-style: none solid solid;
    border-width: medium 1px 1px;
    background-color: #0B81E2;
    color: #ffffff;
    padding: 5px;
}
/** status **/

.left {float: left; margin-bottom: 0px; padding: 0 0.5em 4px 0.5em;}
.right {float: right}
.clear {clear: both; margin: 0px; padding: 0px;}
.left.clear { padding: 0 0.5em; }
.w312 {width: 312px;}
.w329 {width: 329px;}
.w147 {width: 147px;}
.w161 {width: 161px;}
.w159 {width: 159px;}
.w210 {width: 210px;}
.w400 {width: 400px;}
.wCEM {width: 100%;}
.h40 {
    height: 30px !important;
    line-height: 30px !important;
    padding-bottom: 5px;
    padding-top: 5px;
}

.h400 {height: 400px;}

.inputs {/*border: 0px solid #666666;*/ height: 20px;}
.padding0 {padding: 0;}

a {
    color: #003d4c;
    text-decoration: none;
    font-weight: bold;
    font-size:11px;
}

a:hover {
    color: #367889;
    text-decoration:none;
}
a img {
    border:none;
}
h1, h2, h3, h4 {
    font-weight: normal;
    margin-bottom:0.5em;
}
h1 {
    background:#fff;
    color: #003d4c;
    font-size: 100%;
}
h2 {
    background:#fff;
    color: #666;
    font-family:'Gill Sans','lucida grande', helvetica, arial, sans-serif;
    font-size: 190%;
}
h3 {
    color: #993;
    font-family:'Gill Sans','lucida grande', helvetica, arial, sans-serif;
    font-size: 165%;
}
h4 {
    color: #993;
    font-weight: normal;
}
ul, li {
    margin: 0 12px;
}

input {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #ABADB3;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1) inset;
    font-size: 1.2em;
    padding: 0.4em;
    width: 97%;
}

input[type="button"], input[type="submit"] {
    background: url("../../img/admin/nav.png") repeat-x scroll left 0 transparent;
    border: medium none;
    border-radius: 5px 5px 5px 5px;
    color: #FFFFFF;
    cursor: pointer;
    padding: 5px 10px 6px;
}
input[type="button"]:hover, input[type="submit"]:hover {
    background: url("../../img/admin/nav.png") repeat-x scroll left -50px transparent;
    cursor: pointer;
}

.error-message {color: #990000; font-weight: bold; clear: both;}
/** Layout **/
#container {
    text-align: left;
}

#header {
    background: url("../../img/admin/bg_topo.png");
    color: #666666;
    height: 80px;
}
#header h1 {
    background: transparent;
    color: #FFF;
    float:left;
}
#header span{
    float:left;
    margin-top:10px;
}
#header h1 a {
    color: #EEE;
    font-weight: normal;
    text-decoration: none;
}
#header h1 a:hover {
    color: #FFF;
    text-decoration: underline;
}

#header .logotext {
    color: #666666;
    font-family: Verdana,Arial,Helvetica,sans-serif;
    font-size: 1em;
    font-weight: bold;
    margin-right: 10px;
    padding: 10px;
    text-align: right;
    width: auto;
    text-shadow: 0 1px 0 #FFFFFF;
    width: 900px;
}

.menu {
    background: url("../../img/admin/dark.png") repeat-x scroll 0 0 #000000;
    height: 1%;
    margin: 0;
    padding: 0;
    width: auto;
    height: 40px;
    margin-bottom: 15px;
}



#content{
    background: #fff;
    clear: both;
    color: #333;
    padding: 0px 0px 40px 0px;
    overflow: auto;
    border-color: -moz-use-text-color #CCCCCC #999999;
    -webkit-border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    border-radius: 10px 10px 10px 10px;
    border-style: none solid solid;
    border-width: medium 1px 1px;
    width: 97%;
    margin: 0 auto;
}
.topo {
    width: 97%;
    margin: 0 auto;
}
#footer a{
    color:#21B053;
}
#footer {
    background:#BBB;
    float:left;
    padding: 6px 10px;
    text-align: center;
    width:100%;
    height:50px;
    position:relativo;
    bottom: 0px;
    padding:0px;
    line-height: 50px;
    color: #FFF;
}

/** containers **/
div.form,
div.index,
div.view {
    padding:10px 2%;
}
div.actions {
    float:left;
    width:16%;
    padding:10px 1.5%;
}
div.actions h3 {
    padding-top:0;
    color:#777;
}


/** Tables **/
table {
    border: 1px solid #CCCCCC;
    border-radius: 5px 5px 5px 5px;
    font-size: 1em;
    margin: 5px auto;
    width: 100%;
}
th {
    background: url("../../img/admin/bg_topo.png") repeat-x scroll left -33px #CCCCCC;
    color: #464646;
    height: 45px;
    padding-left: 5px;
    padding-right: 5px;
    text-align: left;
    text-shadow: 0 1px 0 #FFFFFF;
    white-space: nowrap;
}
th a {
    color: #000000;
}
th a.asc:after {
    content: ' ⇣';
}
th a.desc:after {
    content: ' ⇡';
}

table tr {
    height: 2.5em;
}
table td {
    color: #333333;
    padding-left: 5px;
    padding-right: 5px;
}
table a {
    color: #000000;
}
table th {
    text-align: center;
}

table tr:nth-child(2n) {
    background: #f5f5f5 !important;
}
table tr.altrow table tr:nth-child(2n){
    background: #f5f5f5 !important;
}
table tr table tr:nth-child(2n){
    background: #ffffff !important;
}
table .altrow {
    background: #f5f5f5;
}
td.actions {
    text-align: center;
    white-space: nowrap;
}
table td.actions a {
    margin: 0px 6px;
    padding:2px 5px;
}
.cake-sql-log table {
    background: #f4f4f4;
}
.cake-sql-log td {
    padding: 4px 8px;
    text-align: left;
    font-family: Monaco, Consolas, "Courier New", monospaced;
}
.cake-sql-log caption {
    color:#fff;
}

table tr:hover {
    background-color: #ccc !important;
}

table tr:hover table tr:nth-child(2n){
    background: #ffffff !important;
}

table tr.altrow:hover table tr:nth-child(2n){
    background: #f5f5f5 !important;
}

/** Paging **/
div.paging {
    background:#fff;
    color: #ccc;
    margin-top: 1em;
    clear:both;
}
div.paging span.disabled {
    color: #ddd;
    display: inline;
}
div.paging span.current {
    color: #c73e14;
}
div.paging span a {
}

/** Scaffold View **/
dl {
    line-height: 2em;
    margin: 0em 0em;
    width: 100%;
}
dl .altrow {
    background: #f4f4f4;
}
dt {
    font-weight: bold;
    width:50%;
    float:left;
}
dd {
    float:left;
    width:50%;

}

/** Forms **/
form {
    clear: both;
    padding: 0;
    width: 100%;
}
fieldset {
    margin-bottom: 1em;
    padding: 16px 20px;
    border:0px;
}
fieldset legend {
    border-bottom:1px solid #D1D1D1;
    width:100%;
    height:30px;
    line-height: 30px;
    color: #666;
    font-family:'Gill Sans','lucida grande', helvetica, arial, sans-serif;
    font-size: 190%;

}
fieldset fieldset {
    clear:both;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 16px 0px 0 0 ;
}
fieldset fieldset legend {
    font-size: 11px;
    font-weight: bold;
    border-bottom:0px;
    height:auto !important;
    line-height: auto !important;
}
fieldset fieldset div {
    clear: left;
    margin: 0 20px;
}
fieldset fieldset div.row1{
    margin: 0px;
    padding: 0px;
}
form div {
    margin-bottom: 1em;
    padding: .5em;
    vertical-align: text-top;
}
form .input {
    color: #444;
    margin-bottom: 0px;
}

form .required {
    font-weight: bold;
}

form .required label:after {
    color: #e32;
    content: '*';
    display:inline;
}
form div.submit {
    border: 0;
    margin-top: 17px;
    float: left;
}
label {
    display: block;
    font-size: 110%;
    margin-bottom:3px;
    clear:both;
}
form div.radio label {
    display: inline !important;
    margin:0 20px 0 0;

}

form div.text input,form div.password input{
    float:left;
    clear:none;
    height:20px;
}
.multiple{
    height:200px;
}
textarea {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #ABADB3;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1) inset;
    font-size: 1.6em;
    line-height: 1.2em;
    margin-bottom: 0 !important;
    padding: 0.4em;
    resize: none;
}

select {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #ABADB3;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1) inset;
    font-size: 1.1em;
    padding: 0.22em;
}
select[multiple=multiple] {
    width: 100%;
}
option {
    font-size: 120%;
    padding: 0 3px;
}
input[type=checkbox] {
    clear: left;
    float: left;
    margin: 0px 6px 7px 2px;
    width: auto;
}
div.checkbox label {
    display: inline;
}
input[type=radio] {
    width:auto;
    margin: 0 3px 7px 0;
}
div.radio label {
    margin: 0 0 6px 20px;
}
/** Notices and Errors **/
div.flash_error {
    clear: both;
    color: #fff;
    background: red;
    padding: 5px 5px 5px 25px;
}
div.flash_success {
    clear: both;
    color: #fff;
    background: green;
    padding: 5px 5px 5px 25px;
}

p.error {
    background-color: #e32;
    color: #fff;
    font-family: Courier, monospace;
    font-size: 120%;
    line-height: 140%;
    padding: 0.8em;
    margin: 1em 0;
}
p.error em {
    color: #000;
    font-weight: normal;
    line-height: 140%;
}
.error_content{
    clear: both;
    color: #990000;
    float: left;
    font-size: 9px;
    font-weight: bold;
    margin: 0 0 -15px 10px;
    padding: 0;
    width: 250px;
}
.notice {
    background: #ffcc00;
    color: #000;
    display: block;
    font-family: Courier, monospace;
    font-size: 120%;
    line-height: 140%;
    padding: 0.8em;
    margin: 1em 0;
}
.success {
    background: green;
    color: #fff;
}

/**  Actions  **/
div.actions ul {
    margin: 0;
    padding: 0;
}
div.actions li {
    margin:0 0 0.5em 0;
    list-style-type: none;
    white-space: nowrap;
    padding: 0;
}
div.actions ul li a {
    font-weight: normal;
    display: block;
    clear: both;
}
div.actions ul li a:hover {
    text-decoration: underline;
}

input[type=submit],
div.actions ul li a,
td.actions a {
    background: url("../../img/admin/nav.png") repeat-x scroll left 0 transparent;
    border: medium none;
    border-radius: 5px 5px 5px 5px;
    color: #FFFFFF;
    cursor: pointer;
    padding: 5px 10px 6px;
}
input[type=submit]:hover,
div.actions ul li a:hover,
td.actions a:hover {
    background: url("../../img/admin/nav.png") repeat-x scroll left -50px transparent;
    cursor: pointer;
}

/** Related **/
div.related {
    clear: both;
    display: block;
}

/** Debugging **/
pre {
    color: #000;
    background: #f0f0f0;
    padding: 1em;
}
pre.cake-debug {
    background: #ffcc00;
    font-size: 120%;
    line-height: 140%;
    margin-top: 1em;
    overflow: auto;
    position: relative;
}
div.cake-stack-trace {
    background: #fff;
    color: #333;
    margin: 0px;
    padding: 6px;
    font-size: 120%;
    line-height: 140%;
    overflow: auto;
    position: relative;
}
div.cake-code-dump pre {
    position: relative;
    overflow: auto;
}
div.cake-stack-trace pre, div.cake-code-dump pre {
    color: #000;
    background-color: #F0F0F0;
    margin: 0px;
    padding: 1em;
    overflow: auto;
}
div.cake-code-dump pre, div.cake-code-dump pre code {
    clear: both;
    font-size: 12px;
    line-height: 15px;
    margin: 4px 2px;
    padding: 4px;
    overflow: auto;
}
div.cake-code-dump span.code-highlight {
    background-color: #ff0;
    padding: 4px;
}
div.code-coverage-results div.code-line {
    padding-left:5px;
    display:block;
    margin-left:10px;
}
div.code-coverage-results div.uncovered span.content {
    background:#ecc;
}
div.code-coverage-results div.covered span.content {
    background:#cec;
}
div.code-coverage-results div.ignored span.content {
    color:#aaa;
}
div.code-coverage-results span.line-num {
    color:#666;
    display:block;
    float:left;
    width:20px;
    text-align:right;
    margin-right:5px;
}
div.code-coverage-results span.line-num strong {
    color:#666;
}
div.code-coverage-results div.start {
    border:1px solid #aaa;
    border-width:1px 1px 0px 1px;
    margin-top:30px;
    padding-top:5px;
}
div.code-coverage-results div.end {
    border:1px solid #aaa;
    border-width:0px 1px 1px 1px;
    margin-bottom:30px;
    padding-bottom:5px;
}
div.code-coverage-results div.realstart {
    margin-top:0px;
}
div.code-coverage-results p.note {
    color:#bbb;
    padding:5px;
    margin:5px 0 10px;
    font-size:10px;
}
div.code-coverage-results span.result-bad {
    color: #a00;
}
div.code-coverage-results span.result-ok {
    color: #fa0;
}
div.code-coverage-results span.result-good {
    color: #0a0;
}
#buscar-produtos {
    background: url("../../img/icons/search.png") no-repeat scroll 0 0 transparent;
    border: 0 none;
    cursor: pointer;
    display: inline-block;
    height: 16px;
    margin: 5px 0 0 5px;
    text-indent: -9999px;
    width: 16px;
}
#buscar-pai {
    background: url("../../img/icons/search.png") no-repeat scroll 0 0 transparent;
    border: 0 none;
    cursor: pointer;
    display: inline-block;
    height: 16px;
    margin: 5px 0 0 5px;
    text-indent: -9999px;
    width: 16px;
}

/**
* Pedido
*/

span.value-total{
    color: green;
    font-family: 'Gill Sans','lucida grande',helvetica,arial,sans-serif;
    font-size: 190%;
}
a.link-login{
    color: white;
    text-decoration: underline;
    font-weight: bold;
}

/*** MENU ****/

div.menu ul {
    padding-left: 10px;
}

div.menu ul li {
    display: inline;
    position:relative;
    height: 1%;
    float: left;
    margin: 0;
}

div.menu ul li a {
    border-right: 1px solid #666666;
    color: #FFFFFF;
    display: block;
    font-size: 1em;
    font-weight: bold;
    padding: 12px 17px 14px;
}

div.menu ul li a.selected {
    background: url("../../img/admin/nav.png") repeat-x scroll left 0 transparent;
    border-left: 1px solid #CCCCCC;
    border-right: 1px solid #999999;
    color: #FFFFFF;
}

div.menu ul li a:hover {
    background: url("../../img/admin/nav.png") repeat-x scroll left -50px transparent;
    color: #FFFFFF;
}


div.menu ul li ul {
    display: none;
    float: left;
    position: absolute;
    top: 38px;
    left: 0px;
    z-index: 10;
    background: none repeat scroll 0 0 #FFFFFF;
    border-radius: 5px 5px 5px 5px;
    height: auto;
    margin: 0 0 0 -1px;
    opacity: 0.95;
    padding: 0;
    width: 166px;
/*    display:none;
    float:left;
    position:absolute;
    top:40px;
    left:0px;
    z-index:10;

    background: none repeat scroll 0 0 #FFFFFF;
    border-radius: 5px 5px 5px 5px;
    height: auto;
    margin: 0 0 0 -1px;
    opacity: 0.95;
    padding: 0;
    width:166px;    */
}

div.menu ul li:hover ul {
    display:block;
    border-color: -moz-use-text-color #CCCCCC #999999;
    border-style: none solid solid;
    border-width: medium 1px 1px;
}
div.menu ul li ul li{
    width:120px;
}
div.menu ul li ul li a{
    float:left;
    width:100%;

    border-color: -moz-use-text-color -moz-use-text-color #E5E5E5;
    border-style: none none solid;
    border-width: 0 0 1px;
    color: #000000;
    font-weight: normal;
    margin: 0;
    padding: 7px 30px 7px 15px;
    position: relative;
    text-align: left;
}

div.menu ul li ul li ul {
    background: none repeat scroll 0 0 #FFFFFF;
    border-radius: 5px 5px 5px 5px;
    display: none;
    float: right;
    height: auto;
    left: 166px;
    margin: 0 0 0 -1px;
    opacity: 0.95;
    padding: 0;
    position: absolute;
    top: 0;
    z-index: 9;
}
div.menu ul li:hover ul ul {
    display:none;
}
div.menu ul li:hover ul li:hover ul {
    display:block;
}
div.menu ul li ul li ul li{
    width:100%;
}
div.menu ul li ul li ul li a{
    float:left;
    width: 120px;
}

/*** MENU ****/

.add{
    background:url(../../img/icons/add.png) no-repeat;
    text-indent: -9999px;
    width:16px;
    height:16px;
    display: inline-block;
    margin-right: 10px;
}
.rm{
    background:url(../../img/icons/delete.png) no-repeat;
    text-indent: -9999px;
    width:16px;
    height:16px;
    display: inline-block;
}
.rm-img{
    background:url(../../img/icons/delete.png) no-repeat;
    text-indent: -9999px;
    width:16px;
    height:16px;
    display: inline-block;
}
.rm-video{
    background:url(../../img/icons/delete.png) no-repeat;
    text-indent: -9999px;
    width:16px;
    height:16px;
    display: inline-block;
}
.rm-min{
    background:url(../../img/icons/bullet_delete.png) no-repeat;
    text-indent: -9999px;
    width:16px;
    height:16px;
    display: inline-block;
}
.rm-valor-ajax{
    background:url(../../img/icons/delete.png) no-repeat;
    text-indent: -9999px;
    width:16px;
    height:16px;
    display: inline-block;
    position: absolute;
    right: 5px !important;
    top: 3px !important;
}
.rm-tipo-ajax{
    background:url(../../img/icons/delete.png) no-repeat;
    text-indent: -9999px;
    width:16px;
    height:16px;
    display: inline-block;
    position: absolute;
    right: 5px !important;
    top: 3px !important;
}
.edit-min{
    background:url(../../img/icons/bullet_edit.png) no-repeat;
    text-indent: -9999px;
    width:16px;
    height:16px;
    display: inline-block;
}
.loading{
    background:url(../../img/icons/loading.gif) no-repeat !important;
}

/**************/
/** PRODUTOS
/**************/

.produtosSel {
    width: 200px;
}

.produtosFiltro {
    width: 250px;
}

.formBusca fieldset {
    border: 1px solid #ABADB3;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1) inset;
}

.btAddProdutosss {
    -moz-border-radius: 8px 8px 8px 8px;
    background: -moz-linear-gradient(center top , #F1F1D4, #E6E49F) repeat scroll 0 0 #E6E49F;
    border: 1px solid #AAAC62;
    color: #333333;
    font-weight: normal;
    width: 120px;
    padding: 4px 8px;
    text-decoration: none;
    text-shadow: 0 1px 0 #FFFFFF;

    margin-right: 70px;
}

.btAddProduto {
    background: url("../../img/admin/nav.png") repeat-x scroll left 0 transparent;
    border: medium none;
    border-radius: 5px 5px 5px 5px;
    color: #FFFFFF !important;
    cursor: pointer;
    padding: 5px 10px 6px;
    float: right;
    margin-bottom: 10px;
}

.btAddProduto a {
    color: #FFFFFF !important;
}

.btAddProduto:hover {
    background: url("../../img/admin/nav.png") repeat-x scroll left -50px transparent;
}


.edt {
    width: 272px;
    height: 200px;
}
div.form, div.index, div.view {
    padding: 10px 2%;
}

.Settings{width:600px;height:400px;}

.selectgrande select{width:400px;height:200px;}

.uploadifyQueueItem {
    background-color: #F5F5F5;
    border: 2px solid #E5E5E5;
    font: 11px Verdana, Geneva, sans-serif;
    margin-top: 5px;
    padding: 10px;
    width: 325px;
}
.uploadifyError {
    background-color: #FDE5DD !important;
    border: 2px solid #FBCBBC !important;
}
.uploadifyQueueItem .cancel {
    float: right;
}
.uploadifyQueue .completed {
    background-color: #E5E5E5;
}
.uploadifyProgress {
    background-color: #E5E5E5;
    margin-top: 10px;
    width: 100%;
}
.uploadifyProgressBar {
    background-color: #0099FF;
    height: 3px;
    width: 1px;
} 
div#file_uploadQueue.uploadifyQueue{float:left;clear:none;}

#VitrineSelecionar, #ProdutoProduto ,#CategoriaAtributoCategoriaAtributo{
    height:200px;
}


#buscar-produtos,#buscar-categorias{
    background:url(../../img/icons/search.png) no-repeat;
    text-indent: -9999px;
    width:16px;
    height:16px;
    display: inline-block;
    border:0px;
    margin:5px 0 0 5px;
    cursor: pointer;
}

#add,.add-bt{
    background:url(../../img/icons/add.png) no-repeat;
    padding-left: 22px;
    width: 91px;
    height:16px;
    display: inline-block;
    border:0px;
    margin:5px 0 0 5px;
    cursor: pointer;
}
#rm,.rm-bt{
    background:url(../../img/icons/delete.png) no-repeat;
    width:91px;
    padding-left: 22px;
    height:16px;
    display: inline-block;
    border:0px;
    margin:5px 0 0 5px;
    cursor: pointer;
}
.bt-clear{
    background: url("../../img/admin/nav.png") repeat-x scroll left 0 transparent;
    border: medium none;
    border-radius: 5px 5px 5px 5px;
    color: #FFFFFF;
    cursor: pointer;
    padding: 5px 10px 6px;
    border: 0 none;
    float: left;
    margin-top: 25px;
}
.shirion{display:none;}
.listaabas {height: 33px; border-bottom: 1px solid #999;}
.listaabas .clicaaba {
    background: url("../../img/admin/tabs.png") repeat-x scroll left 0 #F9F9F9;
    border-left: 1px solid #B5B5B5;
    border-radius: 5px 5px 0 0;
    border-right: 1px solid #DBDBDB;
    border-top: 1px solid #B5B5B5;
    color: #000000;
    cursor: pointer;
    float: left;
    font-size: 1em;
    margin-right: 1px;
    margin-top: 1px;
    padding: 11px;
    text-align: center;
    white-space: nowrap;
}
.listaabas .clicaaba.active {
    background-position: left -95px;
    border-bottom: medium none;
    border-left: 1px solid #666666;
    border-right: 1px solid #666666;
    font-weight: bold;
    margin-left: 1px;
    margin-right: 1px;
}
.listaabas .clicaaba.borderred {border:1px solid red;color:red;}
html body div#container div#content div.index form#PagamentoCondicaoAdminEditForm fieldset div.input div.error-message{color:red;clear:both;font-size:9px;font-weight:normal}
form#ProdutoAdminEditForm  table tbody tr td.childrens-radio label{float:none;display:inline;clear:none;}
.picker{
    width:400px;
}
.picker input{
    margin-right: 10px;
    width: 312px;
}
div.clear_none{
    clear: none;
}

/*begin container preco*/
.container-preco, 
.container-preco-tmp{
    margin: 0;
    padding: 0;
    float: left;
    display: block;
    clear: both;
}
.container-preco .input, 
.container-preco-tmp .input{
    clear: none;
    float: left;
    width: 150px;
}
.container-preco-tmp div.container{
    /*clear: both;*/
    display: block;
    float: left;
    margin-left: 0;
    margin-right: 34px;
}
.container-content
{
    margin-left: 7px !important;
}
.container-preco-tmp .rm{
    float: left;
    margin-left: -16px;
    margin-top: 36px;
}
.container-preco .checkbox{
    margin-left: 0px !important;
}
.container-preco-tmp .checkbox{
    margin-left: 0px !important;
}
.container-preco .checkbox,
.container-preco-tmp .checkbox{
    margin-top: 30px;
    width: auto;
}
.container-preco .add,
.container-preco .rm{
    margin-top: 36px;
}
.content-rm-0 .checkbox{
    float: left;
    margin-left: 400px;
    margin-top: -34px;
    width: auto;
}
/*end container preco*/


/*begin container variacao*/
.container-variacoes, 
.container-variacoes-tmp{
    margin: 0;
    padding: 0;
    float: left;
    display: block;
    clear: both;
}
.container-variacoes .input, 
.container-variacoes-tmp .input{
    clear: none;
    float: left;
    width: auto;
}
.container-variacoes-tmp div.container{
    /*clear: both;*/
    display: block;
    float: left;
    margin-left: 0;
    margin-right: 34px;
}
.container-variacoes .add,
.container-variacoes .rm{
    margin-top: 32px;
}
.container-variacoes-tmp .rm{
    margin-top: 30px;
    margin-left: -15px;
}
.container-variacoes .checkbox{
    margin-left: 0px !important;
}
.container-variacoes-tmp .checkbox{
    margin-left: 0px !important;
}
.container-variacoes .checkbox,
.container-variacoes-tmp .checkbox{
    margin-top: 30px;
    width: auto;
}
.container-variacoes-submit{
    float: left;
    margin-left: 6px;
}
.container-variacoes-submit .submit{
    margin: 0px !important;
}
.content-variacoes-rm-0 .checkbox{
    float: left;
    margin-left: 910px;
    margin-top: -38px;
    width: auto;
}
/*end container variacao*/


html body ul.ui-autocomplete{width:393px;background:#F7F7F7;float:left;margin:5px 0px 0px -2px;border:1px solid #034320; z-index: 99999 !important;}
html body ul.ui-autocomplete li.ui-menu-item{ border-bottom: 1px solid #CCCCCC; display: block; float: left; padding: 4px 12px; width: 369px;}
html body ul.ui-autocomplete li.ui-menu-item div.title{background: none repeat scroll 0 0 #CCCCCC; color: #333333; height: 13px; line-height: 13px;}
html body ul.ui-autocomplete li.ui-menu-item a.ui-corner-all div.list_item_container div.label{color: #333333; float: left; max-width: 300px; width: 300px;}
html body ul.ui-autocomplete li.ui-menu-item a.ui-corner-all div.list_item_container div.label strong{color: #007F43;}
html body ul.ui-autocomplete li.ui-menu-item a.ui-corner-all div.list_item_container div.itens{color: #333333; float: left; text-align: right;}
html body div.box div#container_main div#container_wrap div#container_hp div#leftcol_hp div#sub_navigation div.gray_box div.gray_box_top div.gray_box_bottom ul#catlist.tree li a.parent{ font-weight: normal;
                                                                                                                                                                                          text-transform: uppercase;}

.valor_atributos_content{
    display: none;
}

/*atributos*/
/*begin container atributos*/
.container-atributos, 
.container-atributos-tmp{
    margin: 0;
    padding: 0;
    float: left;
    display: block;
    clear: both;
}
.container-atributos .input, 
.container-atributos-tmp .input{
    clear: none;
    float: left;
    width: auto;
}
.container-atributos-tmp div.container{
    /*clear: both;*/
    display: block;
    float: left;
    margin-left: 0;
    margin-right: 34px;
}
.container-atributos .add,
.container-atributos .rm{
    margin-top: 32px;
}
.container-atributos-tmp .rm{
    margin-top: 30px;
    margin-left: -15px;
}
.container-atributos .checkbox{
    margin-left: 0px !important;
}
.container-atributos-tmp .checkbox{
    margin-left: 0px !important;
}
.container-atributos .checkbox,
.container-atributos-tmp .checkbox{
    margin-top: 30px;
    width: auto;
}
.content-atributos-rm-0 .checkbox{
    float: left;
    margin-left: 910px;
    margin-top: -38px;
    width: auto;
}
.container-atributos select, .container-atributos-tmp select{
    max-width: 300px;
    display: block;
}
.content-atributo-rm-0{
    clear: none;
    float: left;
}
.content-atributo-rm-0 .checkbox{
    float: left;
    margin-top: 24px;
    width: auto;
}
/*end container atributos*/

.submit a.button{
    margin-top: 0px;
}
a.button{
    background: url("../../img/admin/nav.png") repeat-x scroll left 0 transparent;
    border: 1px solid #ABADB3;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1) inset;
    color: white;
    float: left;
    font-size: 12px;
    font-weight: normal;
    padding: 6px;
    margin-top: 23px;
}
a.button:hover{
    background: url("../../img/admin/nav.png") repeat-x scroll left -50px transparent;
    cursor: pointer;
}

.w400{
    width: 400px;
}
.w500{
    width: 500px;
}
.w600{
    width: 600px;
}
.w700{
    width: 700px;
}
.w800{
    width: 800px;
}
.w900{
    width: 900px;
}
.w1000{
    width: 1000px;
}
.h100{
    height: 100px;
}
.h200{
    height: 200px;
}
.h300{
    height: 300px;
}
.h400{
    height: 400px;
}
div.container-variacoes{
    border: 1px solid #999999;
    border-radius: 3px 3px 3px 3px;
    margin: 0 0 7px;
    padding: 5px;
    position: relative;
    background-color: #FFFFFF;
    min-width: 780px;
}
div.container-variacoes .error-message{
    font-size: 9px !important;
    padding: 0  !important;
}
fieldset fieldset div.container-grade{
    margin: 0px;
    padding: 0px;
}

.container-tipo-variacao-valor{
    display: block;
    float: left;
    margin: 0;
    padding: 0;
    width: 400px;
}
.container-grade{
    float: left;
    margin: 0;
    padding: 0;
    width: 360px;
}
.container-grade .input{
    /*width: 162px;*/
}
.container-grade legend{
    margin-bottom: -15px; 
}
.promocoes-dimensoes{
    width: 100%;
    float: left;
    clear: both;
    margin-top: 0px;
}
.container-variacoes .uploadifyQueue{
    color: #000;
    float: left;
}
.container-variacoes .uploadifyQueue .uploadifyQueueItem{
    float: left;
}
.container-variacoes .uploadifyQueue .cancel{
    padding: 0px;
}
.container-variacoes .uploadifyQueue .fileName{
    float: left; 
    margin-top: -25px;
    clear: both;
}
.container-variacoes .uploadifyQueue .percentage{
    float: left; 
    clear: both;
}
.container-variacoes .uploadifyQueue label{
    font-size: 11px;
}
.container-variacoes .uploadifyQueue .cancel a{
    margin: 0px;
    padding: 0px;
}
.container-variacoes tr td{
    padding: 3px 7px;
}
#add-produtoUploader{
    float: left;
    width: 100%;
    min-width: 200px;
}
#tipos-variacoes-content{
    width: 173px; 
    clear: right; 
    float: right;
}
.btn-add-grade{
    display: none;
    margin-top: -35px !important;
}
.aguarde{
    margin-left: -14px;
    float: left;
    display: none;
}
.container-grupos-variacoes{
    clear: both;
    display: block;
    min-width: 277px;
    float: left;
}
.container-grupos-variacoes .container-grupos-variacao-tipo{
    border: 1px solid gray;
    border-radius: 3px 3px 3px 3px;
    clear: both;
    float: left;
    padding: 0;
    width: 320px;
    position: relative;
}
.container-grupos-variacoes .container-grupos-variacao-valor{
    border: 1px solid gray;
    border-radius: 3px 3px 3px 3px;
    float: left;
    margin-left: 65px !important;
    margin-top: 10px !important;
    padding: 5px;
    clear: both;
    position: relative;
    width: 200px;
}
.container-grupos-variacao-valor a.add{
    position: absolute !important;
    right: 10px  !important;
    top: -30px  !important;
}
.container-grupos-variacao-valor a.rm{
    position: absolute !important;
    right: 0  !important;
    top: -30px  !important;
}
.container-grupos-variacoes a.add{
    margin-left: 10px;
    margin-top: 33px;
}
.container-grupos-variacoes a.rm{
    margin-left: 10px;
    margin-top: 33px;
}
.container-grupos-variacoes-tmp{
    float: left;
    clear: both;
    display: block;
    min-width: 277px;
}
.container-grupos-variacao-tipo-tmp{
    padding: 0px;
}
.container-grupos-variacao-valor-tmp{
    padding: 0px;
}
.input_remover{
    padding: 0px;
    display: none;
    margin: 0px;
}
.table_variacoes_grade tr{
    height: auto !important;
}
#buscar-produtos, #buscar-produtos-marcas, #buscar-grades{
    background: url("../../img/icons/search.png") no-repeat scroll 0 0 transparent;
    border: 0 none;
    cursor: pointer;
    display: inline-block;
    height: 16px;
    margin: 5px 0 0 5px;
    text-indent: -9999px;
    width: 16px;
}
.filemanager .directory-content{
	clear: both;
    margin: 0 auto;
    width: 98%;
}
.filemanager .actions{
	width: auto;
}
.filemanager .actions li{
	float: left;
    margin-right: 10px;
}
.filemanager .breadcrumb{
	clear: both;
    margin-bottom: 10px;
    margin-left: 15px;
}
#flashMessage{
    clear: both;
    color: #fff;
    background: green;
    padding: 5px 5px 5px 25px;   
}
.fieldset_variacoes .container-grupos-variacoes{
    width: 98%;
}
.fieldset_variacoes .container-grupos-variacoes .container-grupos-variacao-tipo{
    width: 98%;
}
.fieldset_variacoes .container-grupos-variacoes .container-grupos-variacao-valor{
    clear: none;
}
.fieldset_variacoes .container-grupos-variacoes .container-grupos-variacao-valor{
    margin-left: 25px !important;
    width: 310px !important;
}
.fieldset_variacoes .checkbox{
    float: left;
}
.content-thumb-file, .content-thumb{
    padding: 0px;
    margin: 0px;
}
.content-thumb img{
    float: left;
    margin-left: 5px;
}
span.observacao_medidas{
    float: left; 
    clear: both; 
    width: 150px; 
    font-size: 10px; 
    font-weight: normal;
}
.servicos .uploadifyQueue{
    color: #000000;
    float: left;
}
.box_imagens_grades label{
	display: inline-block;
}
.box_imagens_grades.loading{
	background:url("../../img/icons/loading.gif") no-repeat scroll 320px 12px #FFF !important;	
}
.box_imagens_grades table tr.altrow:hover table tr:nth-child(2n){
    background: #fff !important;
}
.box_imagens_grades table tr:hover {
    background-color: transparent !important;
}
.box_imagens_grade_content table tr.altrow:hover table tr:nth-child(2n){
    background: transparent !important;
}
.box_imagens_grade_content table tr, .box_imagens_grade_tmp table tr:hover {
    background-color: transparent !important;
}
.lista-table-fotos{
	width: auto; 
	float: left;
	/*margin-left: 30px;*/
}
.lista-table-fotos th{
	font-size: 13px;
}
.lista-table-fotos td{
	padding-top: 4px;
}
.lista-table-fotos ul{
    float: left;
    list-style: none outside none;
    margin-bottom: 11px;
}
.lista-table-fotos ul li{
	float: left;
	text-align: center;
}
#message_top{
	left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
}
#message_top .flash_success{
	text-align: center;
}
#message_top .btn-close{
	color: #FFFFFF;
    float: right;
    margin-top: -10px;
}
div.index{
	position: relative;
}
.box_loading_page{
    background-color: #FFFFFF;
    height: 100%;
    left: 0;
    opacity: 0.8;
	filter:alpha(opacity=80);
    position: absolute;
    text-align: center;
    top: 0;
    width: 100%;
	display: none;
}
.bannerSel{
	width: 340px !important;
}
.asmSelect{
	min-width: 300px;
}