<div class="index ">
    <h2><?php __('DuvidaFrequente'); ?></h2>
	<div class="btAddProduto">
    	<?php echo $this->Html->link(__('[+] Adicionar Dúvida Frequente', true), array('action' => 'add')); ?>
    </div>    
    <table cellpadding="0" cellspacing="0">
        <tr>
            <th><?php echo $this->Paginator->sort('id'); ?></th>
            <th><?php echo $this->Paginator->sort('duvida_frequente_tipo_id'); ?></th>
			<th><?php echo $this->Paginator->sort('pergunta'); ?></th>
            <th><?php echo $this->Paginator->sort('resposta'); ?></th>           
			<th><?php echo $this->Paginator->sort('status'); ?></th>
            <th><?php echo $this->Paginator->sort('Data Criação', 'created'); ?></th>
            <th><?php echo $this->Paginator->sort('Data Modificação', 'modified'); ?></th>

            <th class="actions"><?php __('Ações'); ?></th>
        </tr>
        <?php
        $i = 0;
        foreach ($duvidas_frequentes as $duvidas_frequente):
            $class = null;
            if ($i++ % 2 == 0) {
                $class = ' class="altrow"';
            }
            ?>
            <tr<?php echo $class; ?>>
                <td align="center"><?php echo $duvidas_frequente['DuvidaFrequente']['id']; ?>&nbsp;</td>
                <td><?php echo $duvidas_frequente['DuvidaFrequenteTipo']['nome']; ?>&nbsp;</td>
				<td><?php echo $duvidas_frequente['DuvidaFrequente']['pergunta']; ?>&nbsp;</td>
                <td><?php echo $duvidas_frequente['DuvidaFrequente']['resposta']; ?>&nbsp;</td>                
				<td><?php echo ($duvidas_frequente['DuvidaFrequente']['status'])?'Ativo':'Inativo'; ?>&nbsp;</td>
                <td align="center"><?php echo $this->Calendario->dataFormatada('d-m-Y H:i:s', $duvidas_frequente['DuvidaFrequente']['created']); ?>&nbsp;</td>
                <td align="center"><?php echo $this->Calendario->dataFormatada('d-m-Y H:i:s', $duvidas_frequente['DuvidaFrequente']['modified']); ?>&nbsp;</td>

                <td class="actions">
                    <?php echo $this->Html->link(__('Editar', true), array('action' => 'edit', $duvidas_frequente['DuvidaFrequente']['id'])); ?>
					<?php echo $this->Html->link(__('Deletar', true), array('action' => 'delete', $duvidas_frequente['DuvidaFrequente']['id']), null, sprintf(__('Deseja mesmo remover o registro # %s?', true), $duvidas_frequente['DuvidaFrequente']['id'])); ?>
				</td>
            </tr>
        <?php endforeach; ?>
    </table>
    <p>
        <?php
        echo $this->Paginator->counter(array(
            'format' => __('Página %page% de %pages%, mostrando %current% registros de %count%, começando no registro %start% e terminando no %end%', true)
        ));
        ?>	</p>

    <div class="paging">
        <?php echo $this->Paginator->prev('<< ' . __('anterior', true), array(), null, array('class' => 'disabled')); ?>
	 | 	<?php echo $this->Paginator->numbers(); ?>
        |
        <?php echo $this->Paginator->next(__('próxima', true) . ' >>', array(), null, array('class' => 'disabled')); ?>
    </div>
    
</div>
