<?php
echo $javascript->link('common/jquery.meio_mask.js', false);
echo $javascript->link('common/tiny_mce/tiny_mce_src.js',false);
echo $javascript->link('admin/assistencias/index.js',false);
?>
<div class="index">
<?php echo $this->Form->create('DuvidaFrequente');?>
	<fieldset>
 		<legend><?php printf(__('Adicionar %s', true), __('Dúvida Frequente', true)); ?></legend>
	<?php
		echo $this->Form->input('status', array('default'=>true,'type' => 'radio', 'options' => array(true => 'Ativo', false => 'Inativo')));
		echo $this->Form->input('duvida_frequente_tipo_id', array('class'=>'w312', 'options' => array('' => 'Selecione')+$duvidaFrequenteTipos));
		echo $this->Form->input('pergunta', array('class'=>'w312'));
		echo $this->Form->input('resposta', array('class'=>'w312'));
		echo $this->Form->end(__('Inserir', true));
	?>
	</fieldset>
</div>