<div class="index">
<?php echo $this->Form->create('Grupo');?>
	<fieldset>
 		<legend><?php printf(__('Editar %s', true), __('Grupo', true)); ?></legend>
	<?php
		echo $this->Form->input('id');
		echo $this->Form->input('nome');
	?>
	</fieldset>
<?php echo $this->Form->end(__('Enviar', true));?>
</div>
