<div class="index">
<?php echo $this->Form->create('Busca',array('url'=>'/admin/busca/edit/'.$this->params['pass'][0]));?>
	<fieldset>
		<legend><?php __('Editar Busca'); ?></legend>
	<?php
		echo $this->Form->input('id');
		echo $this->Form->input('palavra_relacionada', array('class'=>'w312 inputs'));
	?>
	</fieldset>
<?php echo $this->Form->end(__('Enviar', true));?>
</div>
