<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN""http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type"
          content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <?php if (isset($seo_meta_description)) { ?>

    <?php } else { ?>

    <?php } ?>
    <title>Boutique Nô - Sua loja da moda</title>

    <link href='http://fonts.googleapis.com/css?family=Roboto:500,300,700,400italic,400' rel='stylesheet' type='text/css' />
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700,600' rel='stylesheet' type='text/css' />

    <script type="text/javascript">
        function baseURL (url) {
            return '<?php echo $this->Html->Url('/') ?>' + url
        }
    </script>

    <?php echo $this->Html->css('plugins/bootstrap/bootstrap'); ?>
    <?php echo $this->Html->css('plugins/font-awesome/font-awesome'); ?>
    <?php echo $this->Html->css('plugins/sweetalert/sweetalert'); ?>
    <?php echo $this->Html->css('styles'); ?>
    <?php echo $this->Html->css('boutiqueno'); ?>

    <!-- SCRIPT DE REFERÊNCIA PARA O ADWORDS -->
    <script type="text/javascript">
        var _0xa64e=["\x30\x20\x31\x3D\x27\x32\x27\x3B","\x7C","\x73\x70\x6C\x69\x74","\x76\x61\x72\x7C\x62\x6F\x75\x74\x69\x71\x75\x65\x6E\x6F\x7C\x55\x62\x41\x44\x70\x72\x55\x37","\x72\x65\x70\x6C\x61\x63\x65","","\x5C\x77\x2B","\x5C\x62","\x67"];eval(function(_0x7194x1,_0x7194x2,_0x7194x3,_0x7194x4,_0x7194x5,_0x7194x6){_0x7194x5=function(_0x7194x3){return _0x7194x3};if(!_0xa64e[5][_0xa64e[4]](/^/,String)){while(_0x7194x3--){_0x7194x6[_0x7194x3]=_0x7194x4[_0x7194x3]||_0x7194x3};_0x7194x4=[function(_0x7194x5){return _0x7194x6[_0x7194x5]}];_0x7194x5=function(){return _0xa64e[6]};_0x7194x3=1};while(_0x7194x3--){if(_0x7194x4[_0x7194x3]){_0x7194x1=_0x7194x1[_0xa64e[4]]( new RegExp(_0xa64e[7]+_0x7194x5(_0x7194x3)+_0xa64e[7],_0xa64e[8]),_0x7194x4[_0x7194x3])}};return _0x7194x1}(_0xa64e[0],3,3,_0xa64e[3][_0xa64e[2]](_0xa64e[1]),0,{}))

        var _0x92aa = ["\x73\x74\x72\x69\x6E\x67\x69\x66\x79", "\x65\x6E\x63\x72\x79\x70\x74", "\x41\x45\x53"];
        function enc(_0x3697x2) {
            return {sent: CryptoJS[_0x92aa[2]][_0x92aa[1]](JSON[_0x92aa[0]](_0x3697x2), boutiqueno, {format: CryptoJSAesJson}).toString()}
        }
        function dec(object) {
            var _0x8a21=["\x65\x6E\x63","\x73\x74\x72\x69\x6E\x67\x69\x66\x79","\x64\x65\x63\x72\x79\x70\x74","\x41\x45\x53","\x70\x61\x72\x73\x65"];return JSON[_0x8a21[4]](JSON[_0x8a21[4]](CryptoJS[_0x8a21[3]][_0x8a21[2]](JSON[_0x8a21[1]](object),boutiqueno,{format:CryptoJSAesJson}).toString(CryptoJS[_0x8a21[0]].Utf8)))
        }
    </script>
    <!-- SCRIPT DE REFERÊNCIA PARA O ADWORDS -->


</head>

<body>

<div class="global-wrapper clearfix" id="global-wrapper">

    <?php echo $this->element('site/nav-bar'); ?>
    <?php echo $this->element('site/nav-menu'); ?>

    <?php if (isset($this->validationErrors) && count($this->validationErrors)) { ?>
    <div class="alert alert-danger">
        <div class="container">
            <ul>
                <?php foreach($this->validationErrors as $errors) { ?>
                    <?php foreach($errors as $error) { ?>
                        <li class="text-danger">
                            <?php echo $error ?>
                        </li>
                    <?php } ?>
                <?php } ?>
            </ul>
        </div>
    </div>
    <?php } ?>

    <?php echo isset($content_for_layout) ? $content_for_layout : '';  ?>

    <div class="gap"></div>

    <?php echo $this->element('site/footer'); ?>
    <?php echo $this->element('site/copyright'); ?>
</div>



<!-- REQUIRED SCRIPTS -->
<?php echo $this->Javascript->link('plugins/jquery/jquery'); ?>
<?php echo $this->Javascript->link('plugins/bootstrap/bootstrap'); ?>
<?php echo $this->Javascript->link('plugins/sweetalert/sweetalert.min'); ?>
<?php echo $this->Javascript->link('plugins/icheck/icheck'); ?>
<?php echo $this->Javascript->link('plugins/ionrangeslider/ionrangeslider'); ?>
<?php echo $this->Javascript->link('plugins/mask/jquery.mask.min'); ?>
<?php echo $this->Javascript->link('plugins/jqzoom/jqzoom'); ?>
<?php echo $this->Javascript->link('plugins/card/card-payment'); ?>
<?php echo $this->Javascript->link('plugins/owlcarousel/owl-carousel'); ?>
<?php echo $this->Javascript->link('plugins/magnific/magnific'); ?>
<?php echo $this->Javascript->link('plugins/aes/aes.min'); ?>
<!-- REQUIRED SCRIPTS -->

<!-- CUSTOM SCRIPTS -->
<?php echo isset($scripts_for_layout) ? $scripts_for_layout : ''; ?>

<?php echo $this->Javascript->link('custom'); ?>
<!-- CUSTOM SCRIPTS -->


<?php if ($this->params['action'] == 'forma_pagamento') { ?>
    <script type="text/javascript"
            src="<?php echo isset($pagseguroJS) ? $pagseguroJS : ''; ?>"></script>
    <script type="text/javascript">
        var insta = {};
        PagSeguroDirectPayment.setSessionId('<?php echo isset($sessionToken) ? $sessionToken : ''; ?>');
    </script>
    <?php echo $this->Javascript->link('plugins/sw4us/sw4us.min'); ?>
    <?php echo $this->Javascript->link('carrinho/cart.min'); ?>
<?php } ?>

<?php echo $this->element('sql_dump'); ?>
</body>
</html>